{% extends 'htmls/base.html' %}

{% block main %}

<div class="record_index">

    <p class="bgc">Record Index</p>

    {% if record_search %}

        <p class="bold">Search Results for "{{ search_query }}"</p>
        {% for record in search_results %}
            <div class="record">
                <p><a href="{% url 'record_detail' pk=record.pk %}">[ Record. {{ record.song.title }} ]</a></p>
                <p>( {{ record.date_start|date:"Y-m-d" }} - {{ record.date_end|date:"Y-m-d" }}, {{ record.days }} days )</p>
            </div>
        {% endfor %}

    {% else %}

        <form method="get" action="{% url 'record_search' %}">
            <input type="text" name="q">
            <button type="submit">Search</button>
        </form>

        {% for record in records %}

        <div class="record">
            <p><a href="{% url 'record_detail' pk=record.pk %}">[ Record. {{ record.song.title }} ]</a></p>
            <p>( {{ record.date_start|date:"Y-m-d" }} - {{ record.date_end|date:"Y-m-d" }}, {{ record.days }} days )</p>
        </div>

        {% endfor %}

        {% include 'htmls/basic_pagination.html' %}

    {% endif %}

    {% if request.user.is_authenticated %}
    <div class="edit">
        <p class="bgc">Edit</p>
        <p><a href="{% url 'record_create' %}">> RecordCreate</a></p>
    </div>
    {% endif %}

</div>

{% endblock %}
